@charset "utf-8";
/* CSS Document */

$backColor: #e2e2e2;
$tip: #c2c2c2;
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: SimSun, Arial;
  position: relative;
  background: url(../images/banner.jpg)no-repeat center;
}

img {
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
select,
button,
textarea {
  font-size: 14px;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: normal;
}

i,
em {
  font-style: normal;
}

.clear {
  clear: both;
}

/****************公共部分******************/

header {
  background: #f5f5f5;
  height: 80px;
  font-family: Microsoft Yahei, Arial;
  .header {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 80px;
    .head-right {
      box-sizing: border-box;
    }
    .logo {
      float: left;
      height: 75px;
      margin-right: 40px;
    }
    .logo img {
      height: 100%;
    }
    .head-ul {
      font-size: 18px;
      overflow: hidden;
      margin: 0;
      li {
        line-height: 80px;
        text-align: center;
        display: inline-block;
        a {
          color: #333;
          margin: 0 15px;
        }
        &:hover {
          border-bottom: 3px solid #108938;
          height: 76px;
        }
        &:hover a {
          color: #108938;
          text-decoration: none;
        }
      }
      .head-ul-li {
        border-bottom: 3px solid #108938;
        height: 76px;
        a {
          color: #108938;
        }
      }
    }
    .head-right-ul {
      text-align: center;
      float: left;
    }
  }
  .head-right-s {
    float: right;
    line-height: 80px;
    height: 80px;
    position: relative;
    &:hover .head-right-s-content {
      display: block;
    }
    a {
      font-size: 16px;
      color: #108938;
      margin-left: 30px;
    }
    .head-right-s-content {
      line-height: 30px;
      position: absolute;
      background: #fff;
      z-index: 999999;
      right: 0;
      box-sizing: border-box;
      padding: 10px;
      top: 80px;
      border-radius: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: none;
      ul {
        li {
          font-size: 14px;
          &:last-of-type {
            a {
              margin-left: 0;
              color: #333;
              font-size: 14px;
            }
          }
          .layui-icon {
            padding: 5px;
            font-weight: 600;
          }
        }
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

// --------------foot---------------
footer {
  height: 70px;
  background: #f5f5f5;
  position: fixed;
  bottom: 0;
  .footer {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 8px 0;
    .footer-top {
      text-align: center;
      height: 24px;
      line-height: 24px;
      color: #333;
      margin-bottom: 5px;
      a {
        font-size: 14px;
        line-height: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        color: #333;
        &:hover {
          color: #108938;
          text-decoration: none;
        }
      }
      span {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        color: #333;
        margin: 0 10px;
        vertical-align: middle;
      }
    }
    .footer-bt {
      font-size: 14px;
      color: #000;
      text-align: center;
      a {
        color: #333;
        &:hover {
          color: #108938;
          text-decoration: none;
        }
      }
    }
  }
  .foots {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 70px;
    background: #f5f5f5;
  }
  .foot {
    height: auto;
    overflow: hidden;
    width: 100%;
  }
}

// ----------------遮罩层----------------
#box1 {
  display: none;
  .ceng {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
  }
  .layui-form {
    position: absolute;
    background: #fff;
    border-radius: 3px;
    padding: 0 20px 20px;
    left: 50%;
    top: 50%;
    width: 450px;
    margin-left: -225px;
    margin-top: -165px;
    z-index: 99999;
    h3 {
      line-height: 42px;
      padding-bottom: 10px;
      border-bottom: 1px solid $backColor;
      margin-bottom: 15px;
      span {
        float: right;
        cursor: pointer;
      }
    }
    .layui-form-label {
      text-align: left;
      padding: 9px 0 9px 15px;
    }
    .layui-form-item {
      &:last-of-type {
        border-top: 1px solid $backColor;
        text-align: right;
        margin-top: 10px;
        padding-top: 15px;
      }
    }
    .layui-bg-gray {
      background-color: #5fb878 !important;
      color: #f8f8f8 !important;
    }
  }
}

// ----------------centent---------------
.content-box {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  background: #fff;
  padding: 40px;
  margin-bottom: 110px;
  .layui-tab-card {
    // 查找素材首页
    .czsc-form {
      .layui-form-item {
        .layui-input-inline {
          width: 300px;
        }
      }
      .layui-form-label {
        text-align: left;
        padding: 9px 0 9px 15px;
      }
      .ckk-check-index {
        h4 {
          margin-bottom: 15px;
        }
        ul {
          display: flex;
          justify-content: left;
          flex-wrap: wrap;
          li {
            box-sizing: border-box;
            border: 1px solid #333;
            padding: 5px 10px;
            margin-right: 15px;
          }
        }
      }
    } // 参考库详情页
    .ckk-xq {
      .ckk-title {
        text-align: right;
        line-height: 2;
        margin-bottom: 10px;
      }
      ul {
        li {
          padding: 10px 10px;
          border: 1px solid #333;
          border-right: 0px;
          line-height: 20px;
          &:last-of-type {
            border-right: 1px solid #333;
          }
          .ckk-add-ipt {
            display: none;
          }
        }
      }
      .ckk-details {
        display: block;
      }
      .ckk-add {
        margin-top: 15px;
        display: none;
      }
    } // 新建参考库
    .ckk-xj {
      .layui-form-item {
        .layui-input-inline {
          width: 300px;
        }
      }
      .layui-form-label {
        text-align: left;
        padding: 9px 0 9px 15px;
      }
      .ckk-xj-title {
        span {
          display: inline;
          padding: 5px;
          background: #eee;
          border-radius: 2px;
        }
      }
      .ai-title {
        span {
          display: inline;
          padding: 5px;
          background: #eee;
          border-radius: 2px;
          .layui-icon {
            font-size: 12px !important;
            cursor: pointer;
          }
        }
      }
      .ckk-xj-p {
        padding: 9px 0 9px 15px;
      }
    } // 提交软文页面
    .ai-submit {
      .layui-form-item {
        .layui-input-inline {
          width: 300px;
        }
      }
      .layui-form-label {
        text-align: left;
        padding: 9px 0 9px 15px;
      }
      .layui-input-block {
        position: relative;
        margin-left: 95px;
        .ai-submit-span {
          position: absolute;
          line-height: 28px;
          margin: 6px 10px 0 0;
        }
      }
      p {
        font-size: 14px;
        line-height: 28px;
        color: $tip;
        &:last-of-type {
          margin-bottom: 15px;
        }
      }
    } // 充值中心
    .pay-center {
      .pay-box {
        .zffs-img {
          height: 38px;
<<<<<<< HEAD
        }
        .pay-card-img {
          height: 76px;
        }
      }
      .pay-center-tb1 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        span {
=======
          float: left;
        }
      }
      .pay-center-tb1{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        span{
>>>>>>> fe13283a20ed4e4ab1365047f82b2bd6cbb29268
          display: inline-block;
          padding: 10px 30px;
          cursor: pointer;
          border: 1px solid #58596b;
<<<<<<< HEAD
          &:first-of-type {
            border-right: none;
          }
        }
        .check-this {
=======
          &:first-of-type{
            border-right: none;
          }
        }
        .check-this{
>>>>>>> fe13283a20ed4e4ab1365047f82b2bd6cbb29268
          background: #5fb878;
          color: #fff;
          border-color: #5fb878;
        }
      }
      .pay-center-tb2 {
        display: flex;
        justify-content: center;
        min-height: 400px;
        .pay-center-tb2-li {
          float: left;
          min-height: 350px;
          text-align: center;
          padding: 20px 30px;
          box-shadow: 0 6px 20px 0 rgba(41, 41, 41, 0.1);
          margin-right: 10px;
          &:hover {
            border: 1px solid #eb5648;
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
            transform: scale(1.03);
<<<<<<< HEAD
=======
            
>>>>>>> fe13283a20ed4e4ab1365047f82b2bd6cbb29268
          }
          h3 {
            margin: .5em 0;
            font-size: 28px;
            font-weight: 600;
            font-family: "Microsoft YaHei", Serif !important;
          }
          .price {
            display: block;
            span {
              font-size: 34px;
            }
            .sign {
              color: #9b9b9b;
              font-size: 16px;
              margin-left: -.75em;
              margin-right: .25em;
              color: #9b9b9b;
              font-weight: 400;
              vertical-align: 1.2em;
            }
          }
          .switch {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            border: 1px solid #c5c5c5;
            margin-bottom: 10px;
            box-shadow: 0 1px 1px 0 hsla(0, 0%, 60%, .15), 0 2px 5px 0 hsla(0, 0%, 60%, .1);
          }
<<<<<<< HEAD
          .buy-now {
=======
          .buy-now{
>>>>>>> fe13283a20ed4e4ab1365047f82b2bd6cbb29268
            border-color: #5fb878;
            background: #5fb878;
            color: #fff;
          }
          .collaborator {
            display: block;
            font-size: 14px;
            padding-bottom: 7px;
            border-bottom: 1px solid #c5c5c5;
            margin-bottom: 20px;
          }
          .child-ul {
            li {
              line-height: 30px;
            }
          }
        }
      }
<<<<<<< HEAD
    }
    .pay-info-box {
      display: flex;
      justify-content: flex-start;
      .pay-box-title{
       font-size: 14px;
       font-weight: 600;
       padding: 10px 0 ; 
      }
      .pay-left {
        width: 66%;
        border-right: 20px solid #f2f2f2;
        .pay-left-box01 {
          border-bottom: 20px solid #f5f5f5;
          padding-bottom: 15px;
        }
      }
      .pay-right {
        width: 33%;
        padding: 20px;
        .pay-right-01 {
          text-align: center;
          padding: 50px;
          background: #5fb878;
          margin-bottom: 40px;
          li {
            color: #fff;
            font-size: 16px;
            line-height: 38px;
            a {
              color: #fff;
            }
          }
        }
        .pay-right-02 {
          li {
            color: #333;
            font-size: 14px;
            line-height: 30px;
          }
        }
      }
      .pay-center-info1 {
        width: 400px;
        .money {
          display: inline-block;
          line-height: 38px;
        }
      }
      .pay-center-info2 {
        width: 450px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        button {
          margin-top: 20px;
        }
        img {
          margin-right: 20px;
        }
        .llayui-form-radio {
          float: left;
        }
      }
      .pay-center-info3 {
        position: relative;
        width: 560px;
        .info3-box {
          position: absolute;
          margin-left: 140px;
          top: 0;
          span {
            display: inline-block;
            line-height: 38px;
          }
          .layui-input-inline {
            width: 250px;
          }
        }
        button {
          position: absolute;
          left: 50%;
          bottom: -58px;
          margin-left: -100px;
        }
      }
=======
>>>>>>> fe13283a20ed4e4ab1365047f82b2bd6cbb29268
    } // 推广中心
    .popu-box {
      .layui-input-inline {
        width: 300px;
      }
      h2 {
        font-weight: 600;
        margin-bottom: 15px;
      }
      p {
        line-height: 2;
      }
    } // 免费活动
    .free-box {
      .layui-bg-gray {
        height: 15px;
      }
      .top-box {
        display: flex;
        justify-content: flex-start;
        .top1 {
          flex-grow: 1;
          .free {
            display: inline-block;
            background: #108938;
            color: #fff;
            padding: 5px 10px;
            border-radius: 3px;
            margin-left: 15px;
          }
          p {
            text-align: center;
            font-size: 50px;
            color: #108938;
            margin: 10px 0;
            font-family: "Adobe Heiti Std";
          }
          .wechat-line {
            width: 60%;
            height: 15px;
            line-height: 25px;
            position: relative;
            border-bottom: 1px solid #58596b;
            margin: 0 auto;
            span {
              padding: 0 12px;
              font-size: 14px;
              color: #363b3c;
              display: block;
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: -61px;
              background-color: #fff;
            }
          }
        }
        .top2 {
          flex-grow: 3;
          ul {
            li {
              font-size: 16px;
              font-family: "Adobe Heiti Std";
              margin-bottom: 15px;
              &:first-of-type {
                margin-top: 30px;
              }
              .title {
                color: $tip;
                margin-right: 30px;
              }
              .content {
                color: #333;
              }
            }
          }
        }
      }
      .bottom-box {
        display: flex;
        justify-content: flex-start;
        padding: 30px 0;
        .bottom1 {
          flex-grow: 1;
          text-align: center;
          img {
            height: 164px;
          }
        }
        .bottom2 {
          flex-grow: 1;
          p {
            font-size: 16px;
            font-family: "Adobe Heiti Std";
            margin-top: 30px;
          }
        }
      }
    } // 2018-08-10 修改样式
    .xjckk-btn {
      position: relative;
      margin-bottom: 10px;
      border-radius: 20px;
      background: $backColor;
      color: #fff;
      &:hover .layui-icon {
        display: block;
      }
      .layui-icon {
        position: absolute;
        display: none;
        height: 20px;
        width: 20px;
        line-height: 20px;
        border-radius: 50%;
        font-size: 12px !important;
        top: -10px;
        right: -10px;
        background-color: #5fb878 !important;
        color: #f8f8f8 !important;
      }
    }
    .layui-bg-gray {
      background-color: #5fb878 !important;
      color: #f8f8f8 !important;
    }
    .layui-textarea {
      min-height: 200px;
    }
  }
}

// 查看详情页
.header-box {
  background: #fff;
  h3 {
    padding-top: 10px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
  }
}

.check-details-box {
  width: 1600px;
  margin: 20px auto;
  background: #fff;
  font-family: Microsoft Yahei, Arial;
  .tip-box {
    padding-bottom: 20px;
    border-bottom: 1px solid $backColor;
    padding-top: 10px;
    p {
      float: left;
      padding: 10px 15px;
    }
    h3 {
      font-size: 14px;
      margin: 15px 20px;
    }
    ul {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      li {
        margin-left: 10px;
        padding: 10px 15px;
        border-radius: 20px;
        background: #5fb878;
        margin-bottom: 10px;
        a {
          color: #fff;
        }
      }
    }
  }
  .table-box {
    h3 {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      transition: all 1s initial 0;
      margin: 10px 0;
      p {
        display: inline-block;
        padding: 10px 30px;
        background: #5fb878;
        color: #fff;
        border-radius: 40px;
      }
    }
  }
}